<div class="author">
  <h1 class="author-heading">H, I am Kadir</h1>
  <p class="author-body">Software Developer</p>
</div>

<img
  src="https://images.unsplash.com/photo-1683011149602-ac15c7c5b078?auto=format&fit=crop&w=900&q=80"
  alt="hero image"
  class="hero-image"
  width="800"
  height="500"
/>

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
